*
!*.cs
!*.csproj
!*.slnx
!*.json
!*.js
!*.ts
!*.vue
!*.css
!*.html
!*.sh
!*.props
!*.md
!*.ps1
!*.py
!*.txt
!*.onnx
!.editorconfig
!Directory.Build.props
!VideoAnonymizer.slnx
!docker/**
!VideoAnonymizer.ServiceDefaults/**
!VideoAnonymizer.Contracts/**
!VideoAnonymizer.Web.Contracts/**
!VideoAnonymizer.Database/**
!VideoAnonymizer.Database.Postgres/**
!VideoAnonymizer.Database.SQLite/**
!VideoAnonymizer.ObjectDetectionClient/**
!VideoAnonymizer.Web.Modules/**
!VideoAnonymizer.Web/**
!VideoAnonymizer.ApiService/**
!VideoAnonymizer.VideoProcessor/**
!VideoAnonymizer.ModelDownloader/**
!VideoAnonymizer.StandaloneHost/**
!VideoAnonymizer.ObjectDetection/**
**/node_modules
