/.vs
obj
bin
/VideoAnonymizer.ObjectDetection/.venv
/VideoAnonymizer.ApiService/App_Data/Uploads
/VideoAnonymizer.ObjectDetection/models/FaceDetector.onnx
/VideoAnonymizer.ObjectDetectionTests/models/FaceDetector.onnx
/data
/**/__pycache__
/VideoAnonymizer.ObjectDetection/models
/**/.bin
/**/node_modules
/VideoAnonymizer.Web.Modules.Tests.Playwright/package-lock.json
/VideoAnonymizer.Web.Modules.Tests.Playwright/test-results/.last-run.json
/VideoAnonymizer.Web.Modules.Tests.Playwright/test-results
/VideoAnonymizer.Web.Modules/wwwroot/vue/video-editor/index.css
/VideoAnonymizer.Web.Modules/wwwroot/vue/video-editor/index.js
