/.vs
obj
bin
/VideoAnonymizer.ObjectDetection/.venv
/VideoAnonymizer.ObjectDetection/__pycache__
/VideoAnonymizer.ApiService/App_Data/Uploads
/VideoAnonymizer.ObjectDetection/models/FaceDetector.onnx
/VideoAnonymizer.ObjectDetectionTests/models/FaceDetector.onnx
/VideoAnonymizer.ObjectDetectionTests/tests/__pycache__
/data
