/.vs
obj
bin
/VideoAnonymizer.ObjectDetection/.venv
/VideoAnonymizer.ApiService/App_Data/Uploads
/VideoAnonymizer.ObjectDetection/models/FaceDetector.onnx
/VideoAnonymizer.ObjectDetectionTests/models/FaceDetector.onnx
/data
/**/__pycache__
/VideoAnonymizer.ObjectDetection/models
/**/.bin
/**/node_modules